* {
   margin: 0px;
   padding: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    display: -ms-flexbox;
            
    background-image:url(/images/felt.jpg);
    background-size:cover;
            
}

#container {
    margin-top: -10px;
    height: 100%;
    /*background:red;*/
}


@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
